.timetracker_wrapper {
    align-items: center;
    gap: 16px;
    padding-right: 16px;
    border-right: 1px solid #bababa;
    margin-right: 16px;


    .buttons_wrapper {
        gap: 8px;
    }

    button {
        border: none;
        padding: 8px 40px;
        border-radius: 25px;
        color: #fff;
        cursor: pointer;

        &.start {
            background-color: #5EBEA3;
        }
        &.pause {
            background-color: #b5b5b5;
        }
        &.end {
            background-color: #FF9984;
        }
    }
}
