:root {
  --font: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: var(--font);
}

p {
  margin: 0;
}

#index {
  padding: 25px;
}

.flex {
  display: flex;
}
